[submodule "Unique/vendor/spdlog"]
	path = Unique/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Unique/vendor/glm"]
	path = Unique/vendor/glm
	url = https://github.com/g-truc/glm.git
